<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>


    {% block styles %}
    <style>
        a:link {
            text-decoration: none;
        }
    </style>
    {% endblock %}
    <script
            src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous">
    </script>
</head>

<body>
{% block navbar %}{% include 'navbar.html' %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>