{% extends 'base.html' %}

{% block title %}
<title>Абонемент - {{ abonement }}</title>
{% endblock %}


{% block content %}
<h1>{{ abonement }}</h1>
<p>{{ abonement.price }}</p>

{% if abonement.photo %}
<img src="/media/{{object.photo}}" width="200">
{% endif %}
<div class="p-5">
    <label for="select">Кількість</label>
    <select id="select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <button type="button" id="add-button" value="{{ abonement.id }}">Додати в корзину</button>
</div>



<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'basket_add' %}",
            data: {
                productid: $('#add-button').val(),
                productqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post',
            },
            success: function (json) {
                document.getElementById("basket-qty").innerHTML = json.quantity;
            },
            error: function (xhr, errmsg, err) {
                console.log('error')
            },
        });
    })

</script>
{% endblock %}