{% extends 'base.html' %}

{% block title %}
Стилі
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mx-2">
    {% for style in styles %}
    <div class="col">
        <div class="card h-100">
            {% if style.photo %}
            <img src="{{ style.photo }}" class="card-img-top" alt="{{ style.name }}-photo">
            {% else %}
            <img src="..." class="card-img-top" alt="NO PHOTO">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'school:style_detail' style.slug %}">{{ style.name }}</a></h5>
                <p class="card-text">{{ style.description }}</p>
            </div>
            <div class="card-footer d-flex justify-content-evenly">
                {% for teacher in style.teachers.all|slice:":2" %}
                <span class="badge"><a href="{% url 'school:teacher_detail' teacher.slug %}">{{ teacher }}</a></span>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}